<h1>Rail Cargo Management System</h1>
<ul>
  <li><a href="/shipments">Shipments</a> - View, add, edit, or delete cargo shipments</li>
  <li><a href="/containers">Containers</a> - Manage containers and their assignments</li>
  <li><a href="/railyards">Rail Yards</a> - Manage rail yard locations and capacities</li>
  <li><a href="/trains">Trains</a> - Manage trains and their details</li>
</ul>
